.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: #c8c8c8;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  overflow-y: scroll;
}

.modalContainer {
  width: 60%;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  overflow-y: scroll;
}

.livroModal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.livroModal-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.livroModal-visual p {
  text-align: center;
}

.livroModal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.livroModal-h1 {
  text-align: center;
}

.titleCloseBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-botao {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.footer-link {
  text-decoration: none;
  background-color: cornflowerblue;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 20px;
  display: inline-block;
}

#cancelBtn {
  background-color: crimson;
}

.livroModal-descricao {
  font-size: 1rem;
  word-spacing: 4px;
  max-width: 450px;
}

.livroModal-tumb {
  height: 300px;
  width: 200px;
  -webkit-box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.777);
          box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.777);
}

@media screen and (max-width: 760px) {
  .livroModal-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .livroModal-tumb {
    height: 200px;
    width: 150px;
  }
  .livroModal-visual {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .livroModal-h1 {
    font-size: 1.2rem;
  }
  .livroModal-descricao {
    font-size: 0.9rem;
  }
  .modalContainer {
    width: 70%;
    padding: 30px;
  }
  .footer-botao {
    width: 100px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
  }
  .footer-link {
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 17px;
    display: inline-block;
  }
}
/*# sourceMappingURL=LivroModal.css.map */